body {
  color: #211F1F !important;
  // font-family: Futura Md BT;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.509px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.sub-btn {
  background: #5479F7 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sub-btn-outline {
  border: 0.2px solid #5479F7 !important;
  color: #5479F7;
}

.fin-text-blue {
  color: #5479F7;
}

.bg-finvedic {
  background: #5479F7;
}

.bg-transparent {
  background: transparent;
}

.my-card {
  border-radius: 8px !important;
}

.fin-br-8 {
  border-radius: 8px !important;
  ;
}

.bg-blue-15 {
  background: #5479F7;
}

.text-blue-15 {
  color: #5479F7;
}

.roleClass .q-field__control {
  padding-right: 0px !important;
  padding-left: 10px !important;
}

.table-scroll {
  overflow-x: auto;
}
